<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Attach Accessory</title>
  <link href="./stylesheets/site.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/">Add a Cube</a></li>
        <li><a href="/">Add Accessory</a></li>
        <li><a href="/">About</a></li>
      </ul>
    </header>
    <main>
      <h1>Attach a new accessory</h1>
      <div class="form">
        <h2>{{cube.name}}</h2>
        <img class="cube" src="{{cube.image_url}}">
        {{#if cube.accessories}}
        <form action='/attach/{{cube._id}}' method="post">
          <label for="accessory">Accessories</label>
          <select id="accessory" name="accessory">
            {{#each cube.accessories}}
          <option value="{{name}}">{{name}}</option>
            {{/each}}
      
          </select>
          <input type="submit" value="Attach">
        </form>
        {{else}}
        <h3 class="italic">This cube has all available accessories so far or there is no available at all...
        </h3>
        {{/if}}
        <a class="btn" href="/">Back</a>
      </div>
    </main>
  </div>
  <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>

</body>

</html>