<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attach Accessory</title>
    <link href="./css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='./images/favicon.png' />
</head>
<body>
    <div class="container">
        <header>
            <ul>
                <li><img class="logo" src="/images/logo.png"></li>
                <li><a href="/">Browse</a></li>
                <li><a href="/">Add a Cube</a></li>
                <li><a href="/">Add Accessory</a></li>
                <li><a href="/">About</a></li>
            </ul>
        </header>
        <main>

      <h1>{{cube.name}} </h1>
      <img class="cube" src="{{cube.image_url}}">
      <div class="details">
        <p><span>Description:</span> {{cube.description}}</p>
        <p><span>Difficulty level:</span> {{cube.level}}</p>
                <a class="btn" href="/">Back</a>   <a class="btn-primary" href="/attach/{{cube._id}}">Attach</a>
            </div>
            <h2>Accessories</h2>
            <div class="accessories">
            {{#if cube.accessories}}
              {{#each cube.accessories }}
                 <div class="accessory">
                    <img src="{{imageUrl}}" alt="stickerName">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                </div>
              {{/each}}
              {{else}}
                <h3 class="italic">This cube has no accessories yet...</h3>
              {{/if}}
            </div>
        </main>
    </div>
    <footer>@Cubicle: Exercise for Express.js and Handlebars</footer>
</body>
</html>